<div class="container">
    <div>
        <h2 class="text-4xl m-1" style="margin-bottom: 20px">Store information</h2>
    </div>
    <ul>
        <li>
            <strong>Name:</strong>
            <span><%= @master_store.name %></span>
        </li>

        <li>
            <strong>Logo</strong>
            <span>
                <img src="<%= @master_store.logo_url %>" />
            </span>
        </li>
    </ul>
</div>